@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
   --font-barriecito: 'Barriecito', system-ui, sans-serif;
   --font-inter: 'Inter', system-ui, sans-serif;

   --animate-shake: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;


   @keyframes shake {
      20% {
         rotate: -5deg;
      }

      40% {
         rotate: 5deg;
      }

      60% {
         rotate: -5deg;
      }

      80% {
         rotate: 5deg;
      }

      100% {
         rotate: 0deg;
      }
   }
}

@layer base {
   :root {
      --primary-color : #F6F6F6;
      --secondary-color : #000000;
      --tertiary-color : #A2D5C6;
      --accent-color : #CFFFE2;
      --text-color: #444444;
      --hover-color: #cacaca;
   }
   
   .dark {
      --primary-color : #000000;
      --secondary-color : #F6F6F6;
      --tertiary-color : #A2D5C6;
      --accent-color : #CFFFE2;
      --text-color: #F6F6F6;
      --hover-color: #646464;
   }
}

@layer utilities {
   .custom-scrollbar::-webkit-scrollbar {
      height: .5em;
   }

   .custom-scrollbar::-webkit-scrollbar-track {
      @apply rounded-2xl bg-[var(--primary-color)] outline-1 outline-[var(--tertiary-color)];
   }

   .custom-scrollbar::-webkit-scrollbar-thumb {
      @apply rounded-2xl bg-[var(--tertiary-color)] cursor-pointer;
   }

   .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      @apply bg-[var(--accent-color)];
   }

   .animate-slide-left {
      animation: slide-left 30s linear infinite;
   }

   .animate-slide-right {
      animation: slide-right 30s linear infinite;
   }

   .dark .gradient-background {
      background: linear-gradient(300deg,#000000,#30423e,#000000,#30423e);
      background-size: 120% 120%;
      animation: gradient-animation 10s ease infinite;
   }

   .gradient-background {
      background: linear-gradient(153deg,#f6f6f6,#cfffe252,#f6f6f6, #f6f6f6, #cfffe252, #f6f6f6,#cfffe252,#f6f6f6, #f6f6f6, #cfffe252);
      background-size: 240% 240%;
      animation: gradient-animation 10s ease infinite;
   }

   @keyframes gradient-animation {
      0% {
         background-position: 0% 50%;
      }
      50% {
         background-position: 100% 50%;
      }
      100% {
         background-position: 0% 50%;
      }
   }

   @keyframes slide-left {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(calc(-50% - 10px));
      }
   }

   @keyframes slide-right {
      from {
         transform: translateX(0);
      }
      to {
         transform: translateX(calc(50% + 10px));
      }
   }
}